:root {
    --White--: hsl(0, 0%, 100%);
    --Black--: hsl(0, 0%, 0%);
    --Dark-Gray--: hsl(0, 0%, 55%);
    --Very-Dark-Gray--: hsl(0, 0%, 41%);
    --font-size--: .9375rem;
}

*,
::after,
::before {
    box-sizing: border-box;
}

#body {
    background-color: var(--Black--);
    font-size: var(--font-size--);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    min-height: 590vh;
}

.header-sect {
    background-image: url("images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    padding: 1em 0 0 0;
    width: 100%
}

.main-head {
    width: 100%;
}

#header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
}

.header-text {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--White--);
    line-height: 1.2;
}

.text-div {
    display: flex;
    border: 2px solid white;
    max-width: 315px;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    position: relative;
    top: 150px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 100%;
}

section {
    padding: 1.5em;
    background-color: var(--White--);
}

.head-gear {
    padding: 1.5em;
}

.vr-mobile {
    padding-top: 2em;
}

.h1-leader {
    width: 296px;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    line-height: 1.45;
    letter-spacing: 2px;
}

.head-gear div {
    text-align: center;
    max-width: 610px;
}

.para-leader {
    font-size: 1.25rem;
    color: var(--Dark-Gray--);
    letter-spacing: 1px;
    font-family: 'Alata', sans-serif;
}

.creation {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

fieldset img {
    min-height: 150px;
}

.legend {
    position: relative;
    top: 65px;
    left: 15px;
    color: var(--White--);
    font-size: 1.95rem;
    text-transform: uppercase;
    max-width: 165px;
    height: 0;
}

.grid-legend {
    max-width: 90px;
}

.img-sect-mobile {
    width: 100%
}

.img-div-mobile {
    gap: 15px;
}

.btn {
    margin-top: 2em;
    padding: 1em 3em;
    text-transform: uppercase;
    background-color: var(--White--);
    border: 1px solid var(--Black--);
}

.btn:hover {
    cursor: pointer;
}

.footer-section {
    background-color: var(--Black--);
    width: 100%;
}

.footer-layout {
    gap: 20px;
    margin: 2.5em 0;
}

.nav-links {
    text-decoration: none;
    color: var(--White--);
    font-size: 2rem;
}

.icon-copyright {
    gap: 20px;
}

.icon-div {
    flex-direction: row;
    gap: 30px;
}

.icon-div a img {
    width: 35px;
}

.small {
    color: var(--Dark-Gray--);
    font-family: 'Alata', sans-serif;
}

/* NAV-BAR CODE */
.head-background {
    background: var(--Black--);
}

.hamburger-logo {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.nav-bar {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--Black--);
    width: 100%;
    position: relative;
    align-items: flex-start;
    top: 180px;
}

.hidden {
    display: none;
}

.img-sect-desktop {
    display: none;
}

.vr-desktop {
    display: none;
}


@media screen and (min-width: 768px) {
    #body {
        min-height: 470vh;
    }

    .header-sect {
        height: 70vh;
        padding: 1em 2em 0;
    }

    .text-div {
        max-width: 350px;
        top: 200px;
    }

    .vr-mobile {
        max-width: 695px;
    }

    .head-gear {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-bar {
        align-items: center;
        gap: 20px;
    }

    .legend {
        top: 140px;
    }

    /* FOOTER STYLES */
    .footer-section {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1126px;
    }

    .logo-links {
        align-items: flex-start;
    }

    .footer-layout {
        flex-direction: row;
    }

    .nav-links {
        font-size: 1rem;
    }

    #header .nav-bar .nav-links {
        font-size: 1rem;
    }

    .icon-copyright {
        align-items: flex-end;
    }

    .icon-div a img {
        width: 25px;
    }

    .small {
        letter-spacing: 1.5px;
    }
}

@media screen and (max-height: 600px) {
    .header-sect {
        height: 150vh;
    }
}

@media screen and (min-width: 900px) {
    section {
        width: 100%;
    }

    .header-sect {
        background-image: url(images/desktop/image-hero.jpg);
        background-size: auto;
        height: 100vh;
        max-height: 700px;
    }

    /* REMOVE MOBILE IMAGES */
    .vr-mobile {
        display: none;
    }

    .img-sect-mobile {
        display: none;
    }

    /* ADD DESKTOP IMAGES */
    .vr-desktop {
        display: block;
        max-width: 65%;
        position: relative;
        right: 12%;
    }

    .img-sect-desktop {
        display: flex;
    }

    .hamburger-logo {
        width: auto;
    }

    .hamburger {
        display: none;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        top: 0;
        background-color: transparent;
        font-size: 1rem;
        width: 50%;
        justify-content: flex-end;
        padding: 0 2em;
    }

    .nav-links {
        font-size: 1rem;
    }

    .head-gear {
        height: 750px;
    }

    .head-gear div {
        width: 45%;
        position: relative;
        left: 28%;
        bottom: 200px;
        background-color: var(--White--);
        max-width: 450px;
        padding: 3em;
    }

    .text-div {
        max-width: 420px;
        top: 200px;
        align-self: flex-start;
        word-spacing: 2px;
        letter-spacing: 3px;
    }

    .img-div-desktop {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        gap: 20px;
        width: 100%;
    }

    .img {
        height: 325px;
    }

    .legend {
        top: 220px;
    }

    .grid-legend-desktop {
        max-width: 150px;
    }

    .middle-head {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .btn-desktop {
        margin: 0;
    }

    .footer-section {
        padding: 2em;
    }
}

@media screen and (min-width: 1000px) {
    #body {
        min-height: 380vh;
    }

    .header-sect {
        padding-left: 10%;
    }

    .text-div {
        top: 290px;
        max-width: 450px;
        word-spacing: 6px;
        letter-spacing: 5px;
    }

    .vr-desktop {
        position: relative;
        right: 15%;
    }



    .head-gear div {
        left: 30%;
        bottom: 250px;
    }
}

@media screen and (min-width: 1200px) {
    .vr-desktop {
        left: -15%;
        right: 0;
    }

    .head-gear div {
        left: 22%;
    }

    .middle-head {
        width: 85%;
    }

    .img-div-desktop {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        gap: 20px;
        width: 85%;
        justify-content: space-between;
    }

    .img {
        width: 250px;
        height: auto;
        transition: 0.25s;
    }

    .legend {
        top: 350px;
    }

}

/* SLIDING-BORDER STYLES AND HOVER EFFECTS*/
section a::after {
    content: " ";
    display: block;
    width: 0;
    height: 2.5px;
    border-radius: 100px;
    background-color: var(--White--);
    transition: width .4s ease-in-out;
}

section a:hover::after {
    width: 100%;
}

.btn:hover {
    background-color: var(--Black--);
    color: var(--White--);
    cursor: pointer;
}

fieldset .img:hover {
    opacity: 0.2;
    cursor: pointer;
}

fieldset:hover .legend {
    color: var(--Black--);
}

.footer-attribution {
    margin-top: 1em;
}

.attribution {
    font-size: 9px;
    text-align: center;
    margin: 0;
    color: grey;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}